:root {
  --black: #0f0e17;
  --orange: #ff8906;
  --white: #fffffe;
  --gray: #a7a9be;
  --secondary-color: #f25f4c;
}
:root {
  --main-color: hotpink;
  --pane-padding: 5px 42px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  height: 98vh;
  background: var(--black);
  overflow-y: hidden;
  /* background: red; */
}
